/* make headline red */

h1 {
color: red;
}

/* make first list item freen */

#first-milestone {
color: green;
}

/* make dates/years to bold and italic */

.year {
font-style: italic;
font-weight: bold;
}