/* make headline red */

h1 {
  color: red;
  font-size: 3em;
}
/* make first line green*/

#first-milestone {
  color: green;
}

/* make years bold and italic*/

.year {
  font-style: italic;
  font-weight: bold;
}

/* use child selector to make font information sentence pink*/

.special-list-item li > span {
  color: pink;
}
