h1 {
  color:red;
}
#firstline {
  color: green;
}
.date {
  font-weight: bold;
  font-style: italic;
}
li > div {
  color: pink;
}
div blockquote {
  background-color: gray;
}
body {
  font-family: sans-serif;
  line-height: 150%
}
